@font-face {
    font-family: SweiGothicLegCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic-leg@2.129/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic-leg@2.129/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff) format("woff");
}

@font-face {
    font-family: SweiSpringCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff) format("woff");
}

::selection {
    color: #FEFEFE;
    background: #141414;
}

body {
    overflow-x: hidden;
    font-family: SweiGothicLegCJKtc-Regular, 'Noto Sans TC', sans-serif;
    color: #141414;
}

.font_serif {
    font-family: SweiSpringCJKtc-Regular, 'Noto Serif TC', serif;
}

.font_eng_title {
    font-family: 'Alkatra';
}

.font_eng {
    font-family: 'Lato', sans-serif;
}

/*---------------- common ----------------*/
.btn_main {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    /* background-color: #893636; */
    /* color: #FEFEFE; */
    background-color: #e0c0c0;
    color: #893636;
    box-shadow: 5px 5px 0px #622525;
    text-decoration: none;
    font-size: smaller;
    text-align: center;
}

.btn_main:hover {
    background-color: #893636;
    color: #FEFEFE;
    box-shadow: none;
    transition: all 0.4s;
}

.tag {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0 0.5rem 0.25rem 0;
    background-color: #e0c0c0;
    color: #893636;
    font-size: smaller;
    text-wrap: nowrap;
}

.title_mark {
    height: 90%;
    width: 0.5rem;
    background-color: #893636;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.underline {
    height: 0.1rem;
    width: 100%;
    background-color: #893636;
    border-radius: 0.5rem;
}

/*---------------- home header ----------------*/
.hw_100 {
    height: 100vh;
    width: 100vw;
}

.photo {
    height: 200px;
}

@media screen and (min-width:768px) {
    .photo {
        height: auto;
    }
}

nav ul .text_white:hover {
    background-color: #EFDBD9;
    color: #893636;
    border-radius: 1rem;
    transition: all 0.4s;
}

/*---------------- scrollDown button ----------------*/
.down_btn i {
    color: #893636;
}

.down_btn i:hover {
    color: #622525;
    transition: all 0.4s;
}

/*---------------- goTop button ----------------*/
.top_btn {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 2rem;
    right: 1.5rem;
    z-index: 999;
    background-color: #622525;
    border: 0;
    border-radius: 50%;
}

.top_btn:hover {
    box-shadow: none !important;
    transition: all 0.4s;
}

/*---------------- background color ----------------*/
.bg_pink {
    background-color: #EFDBD9;
}

.bg_red {
    background-color: #893636;
}

.bg_lightRed {
    background-color: #e4b6b6;
}

.bg_white {
    background-color: #FEFEFE;
}

/*---------------- text color ----------------*/
.text_red {
    color: #893636;
}

.text_white {
    color: #FEFEFE;
}

.text_dark {
    color: #141414;
}

/*---------------- other styles ----------------*/
.fs_xxs {
    font-size: xx-small;
}

.fs_sr {
    font-size: smaller;
}

.round_05 {
    border-radius: 0.5rem;
}

.round_1 {
    border-radius: 1rem;
}

.round_50 {
    border-radius: 50%;
}

.box_shadow_4 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box_shadow_2 {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.box_shadow_4:hover,
.box_shadow_2:hover {
    box-shadow: none;
    transition: all 0.4s;
}

.overflow_dot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow_lines_dot {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.listStyleNone {
    list-style-type: none;
}

.btn_disable {
    background-color: #dddddd;
}

.pointer_none {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}